@use "../../partials/variables" as v;
@use "../../partials/mixin";

@mixin about {
  .section_about {
    padding: 130px 0;
    @include mixin.media-lg {
      padding: 100px 20px;
    }
    @include mixin.media-md {
      padding: 70px 20px;
    }
    @include mixin.media-sm {
      padding: 50px 20px;
    }
    .content {
      position: relative;
      z-index: 1;
      color: v.$textColor;
      .ellipse {
        @include mixin.ellipse($width: 235px, $height: 235px);
        position: absolute;
        z-index: -1;
        &.ellipse--green {
          top: 25%;
          left: 0;
        }
        &.ellipse--orange {
          right: 0;
          bottom: 0;
        }
      }
      .heading {
        max-width: 588px;
        text-align: center;
        font-size: 3.1667rem;
        font-weight: 800;
        line-height: 131.523%; /* 41.649px */
        margin: 0 auto 20px;
      }
      .desc {
        max-width: 643px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 auto;
        line-height: 20.417px; /* 127.604% */
        margin: 0 auto 40px;
      }
      @include mixin.media-md {
        .heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
          max-width: 80%;
          margin-bottom: 50px;
        }
      }
      @include mixin.media-xm {
        .heading {
          font-size: 2.4rem;
          max-width: 80%;
        }
        .desc {
          font-size: 1.3rem;
          max-width: 90%;
          margin-bottom: 50px;
        }
      }
    }

    .info_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: -20px;

      @include mixin.media-lg {
        display: flex;
      }

      .info_item_box {
        padding-inline: 20px;
        flex: 1 0 33.3333%;
        max-width: 33.3333%;

        &:nth-child(1) .info_item {
          width: 75%;
          margin-left: auto;
        }
        &:nth-child(2) .info_item {
          width: 90%;
          margin: 0 auto;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        &:nth-child(3) .info_item {
          width: 80%;
          margin-right: auto;
        }

        @include mixin.media-lg {
          flex-basis: 100%;
          max-width: 100%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            .info_item {
              width: 100%;
              padding: 20px;
              margin-bottom: 20px;
            }
          }
        }
        .info_item {
          position: relative;
          color: v.$textColor;
          border-radius: 4px;
          box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
          background-color: #fff;
          padding: 30px;
          z-index: 1;

          @include mixin.media-lg {
            display: flex;
          }

          .medal_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
            border-radius: 4px;
            &.medal_icon--orange {
              background-color: #fff0e7;
            }
            &.medal_icon--green {
              background-color: #f2ffec;
            }
            img {
              max-width: 80%;
              height: auto;
              object-fit: cover;
            }
            @include mixin.media-xm {
              flex-shrink: 0;
            }
          }
          .about_content {
            @include mixin.media-lg {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 20px;
            }

            .heading {
              font-size: 4.3333rem;
              font-weight: 800;
              line-height: normal;
              text-align: left;
              margin-top: 20px;

              @include mixin.media-lg {
                font-size: 3rem;
                margin: 0;
                width: 100%;
                text-align: left;
              }
              @include mixin.media-sm {
                font-size: 2.4rem;
              }
            }
            .desc {
              font-size: 2rem;
              font-weight: 400;
              line-height: 30.833px; /* 154.167% */
              text-align: left;

              @include mixin.media-lg {
                margin: 0;
              }

              @include mixin.media-md {
                width: 100%;
                font-size: 1.6rem;
              }
              @include mixin.media-sm {
                font-size: 1.4rem;
              }
              @include mixin.media-xm {
                font-size: 1.3rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
