@use "../../partials/variables" as v;
@use "../../partials/mixin" as m;

@mixin introduction {
  .section_introduction {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: calc((100vw - 1200px) / 2);
    padding-bottom: 130px;
    @include m.media-lg {
      padding-bottom: 100px;
      margin-left: 0;
    }
    @include m.media-md {
      padding-bottom: 70px;
    }
    @include m.media-sm {
      padding-bottom: 50px;
    }
    .content {
      flex: 1 0 50%;
      color: v.$textColor;
      .heading {
        max-width: 514px;
        font-size: 3.6667rem;
        font-weight: 800;
        line-height: 48.225px;
      }
      .sub_heading {
        max-width: 380px;
        font-size: 4.2rem;
        font-weight: 800;
        line-height: normal;
        margin: 10px 0 20px;
      }
      .desc {
        max-width: 450px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.417px; /* 127.604% */
      }
      @include m.media-lg {
        flex-basis: 100%;
        width: 100%;
        padding: 20px;

        .heading,
        .sub_heading,
        .desc {
          text-align: center;
          margin-inline: auto;
        }
        .desc {
          max-width: 75%;
        }
      }
      @include m.media-md {
        .heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
          max-width: 80%;
        }
      }
      @include m.media-sm {
        .heading {
          font-size: 1.8rem;
          line-height: 1.2;
        }
        .sub_heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
          line-height: 1.2;
          max-width: 85%;
        }
      }
      @include m.media-xm {
        .sub_heading {
          font-size: 2.3rem;
          margin-bottom: 5px;
        }
        .desc {
          font-size: 1.3rem;
        }
      }
    }

    .banner_wrapper {
      flex: 1 0 50%;
      width: 50%;
      position: relative;
      display: flex;
      background-color: v.$green;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      @include m.media-lg {
        border-radius: 0px;
      }

      .banner {
        position: relative;
        left: -30%;
        max-width: 100%;
        object-fit: cover;
      }
      .heading {
        position: absolute;
        right: 10%;
        top: 30%;
        transform: translateY(-50%);
        rotate: 90deg;
        color: #216000;
        opacity: 0.15;
        font-size: 16rem;
        font-weight: 800;
        line-height: 90%; /* 166.667px */
        word-break: break-all;
        overflow: hidden;
      }
      @include m.media-lg {
        width: 100%;
        flex-basis: 100%;
        .banner {
          top: 200px;
          left: 0;
          right: 0;
          margin-inline: auto;
        }
        .heading {
          font-size: 12rem;
          top: 100px;
          left: 50%;
          width: 80%;
          transform: translateX(-50%);
          text-align: center;
          rotate: 0deg;
        }
      }
      @include m.media-md {
        .banner {
          top: 100px;
          max-width: 500px;
        }
        .heading {
          font-size: 9.5rem;
          top: 50px;
        }
      }
      @include m.media-sm {
        .heading {
          font-size: 6.4rem;
        }
      }
      @include m.media-xm {
        .banner {
          top: 50px;
          max-width: 280px;
        }
        .heading {
          top: 20px;
          font-size: 5rem;
        }
      }
    }
  }
  @content;
}
