@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #ff574d;
  --text-color: #717171;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #ccc;
  background-image: url("http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  line-height: 1.5;
}

button {
  border-radius: 4px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Login box left */

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-wrapper {
  width: 50%;
  display: flex;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-box-left {
  flex: 3;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.login-box-left h2 {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 24px;
}

.login-box-left p {
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.login-box-left button {
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 28px;
}

.login-box-left button:hover {
  background-color: cornflowerblue;
  color: white;
}

.login-box-left nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-box-left nav ul li {
  margin: 0 8px;
}

.login-box-left nav ul li a {
  border-radius: 4px;
  display: block;
  padding: 8px 16px;
  background: #ee3625;
  color: #fff;
}

/* Login box right */

.login-box-right {
  position: relative;
  flex: 4;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box-right h2 {
  position: relative;
  font-size: 2rem;
  margin: 32px 0;
}

.login-box-right h2 span {
  color: var(--primary-color);
}

.login-box-right h2::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--primary-color);
  width: 50px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.login-box-right form {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.login-box-right form .input-field input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ddd;
}

.login-box-right form .input-field input::placeholder {
  color: var(--text-color);
}

.login-box-right form .option-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-box-right form .option-wrapper .remember-account,
.login-box-right form .option-wrapper .forgot-password {
  font-size: 1.4rem;
  color: var(--text-color);
}

.login-box-right form .option-wrapper .remember-account,
.login-box-right form .option-wrapper .remember-account input {
  cursor: pointer;
}

.login-box-right form .option-wrapper .forgot-password {
  text-decoration: none;
}

.login-box-right form .option-wrapper .forgot-password:hover {
  color: var(--primary-color);
}

.login-box-right form .btn-login {
  width: 100%;
  background: var(--primary-color);
  color: #ffffff;
}

.login-box-right .register-account {
  font-size: 1.4rem;
  color: var(--text-color);
}

.login-box-right .register-account a {
  color: var(--text-color);
  text-decoration: none;
}

.login-box-right .register-account a:hover {
  color: var(--primary-color);
}

/* Xử lý đóng mở */
label[for="toggle-just-log"] {
  position: absolute;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 50%;
  background: #fff;
  color: var(--primary-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

/* .login-box-right .toggle-open {
  display: none;
}

input[name="toggle-just-log"]:checked ~ .login-box-left {
  display: none;
}

input[name="toggle-just-log"]:checked ~ .login-box-right .toggle-close {
  display: none;
}
input[name="toggle-just-log"]:checked ~ .login-box-right .toggle-open {
  display: block;
} */
