@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 1.6rem;
}

.title,
input {
    font-family: "Bebas Neue",sans-serif;;
}

.sub-title, button {
    font-family: "Alfa Slab One",serif;
}

.form-reservation {
    margin: 24px auto;
    width: 500px;
}

.title {
    font-size: 3rem;
}

.sub-title {
    font-size: 4.8rem;
}

.title,
.sub-title {
    text-align: center;
    color: #3a2617;
}

table {
    width: 100%;
}

th,
td {
    padding: 8px;
}

input {
    border: 1px solid #e8e8e8;
    font-size: 1.6rem;
}

input::placeholder {
    color: #3d3d5a;
    font-size: 1.6rem;
}

input[type="date"], input[type="time"] {
    font-size: 1.6rem;
}

input,
.btn-submit {
    width: 100%;
    padding: 8px;
    outline: none;
}

.btn-submit {
    color: #fff;
    background-color: #af332b;
    border-radius: 4px;
    border: 1px solid #af332b;
}