.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding-inline: 15px;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding-inline: 15px;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding-inline: 15px;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding-inline: 15px;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding-inline: 15px;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding-inline: 15px;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding-inline: 15px;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding-inline: 15px;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding-inline: 15px;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding-inline: 15px;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding-inline: 15px;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding-inline: 15px;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-inline: 15px;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-inline: 15px;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-inline: 15px;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-inline: 15px;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-inline: 15px;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding-inline: 15px;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-inline: 15px;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-inline: 15px;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding-inline: 15px;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-inline: 15px;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-inline: 15px;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-inline: 15px;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-inline: 15px;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-inline: 15px;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-inline: 15px;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-inline: 15px;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding-inline: 15px;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-inline: 15px;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-inline: 15px;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding-inline: 15px;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-inline: 15px;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-inline: 15px;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 992px) {
  .col-large-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-inline: 15px;
  }
  .col-large-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-inline: 15px;
  }
  .col-large-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-inline: 15px;
  }
  .col-large-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-inline: 15px;
  }
  .col-large-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-inline: 15px;
  }
  .col-large-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding-inline: 15px;
  }
  .col-large-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-inline: 15px;
  }
  .col-large-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-inline: 15px;
  }
  .col-large-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding-inline: 15px;
  }
  .col-large-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-inline: 15px;
  }
  .col-large-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-inline: 15px;
  }
  .col-large-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-inline: 15px;
  }
  .col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-inline: 15px;
  }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-inline: 15px;
  }
  .col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-inline: 15px;
  }
  .col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-inline: 15px;
  }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding-inline: 15px;
  }
  .col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-inline: 15px;
  }
  .col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-inline: 15px;
  }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding-inline: 15px;
  }
  .col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-inline: 15px;
  }
  .col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-inline: 15px;
  }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-inline: 15px;
  }
  .col-xxl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-inline: 15px;
  }
  .col-xxl-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-inline: 15px;
  }
  .col-xxl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-inline: 15px;
  }
  .col-xxl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-inline: 15px;
  }
  .col-xxl-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding-inline: 15px;
  }
  .col-xxl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-inline: 15px;
  }
  .col-xxl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-inline: 15px;
  }
  .col-xxl-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding-inline: 15px;
  }
  .col-xxl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-inline: 15px;
  }
  .col-xxl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-inline: 15px;
  }
  .col-xxl-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding-inline: 15px;
  }
}

/*# sourceMappingURL=grid.css.map */
