:root {
  --primary-color: #f2a93b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Title and description */
.services-section .title {
  font-size: 3.2rem;
  padding: 6px 12px;
  text-align: center;
}

.services-section .description {
  font-size: 1.6rem;
  text-align: center;
  padding: 4px;
}

/* Services list and Service item  */
.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
  padding: 12px 16px;
  justify-content: center;
}

.services-list .service-item {
  max-width: 20%;
  display: flex;
  padding: 24px 12px;
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.service-item .service-icon {
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  padding: 24px;
  margin-bottom: 12px;
}

.service-item .service-icon i {
  font-size: 6.4rem;
  color: var(--primary-color);
}

.service-item .service-name {
  padding: 6px 0;
  font-size: 3.2rem;
}

.service-item .service-desc {
  color: #a5a6ae;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.service-item .btn-read-more {
  color: #ffffff;
  margin-top: 16px;
  padding: 12px 16px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
