/* 
    Flex = Flexible Box Module
    - Kỹ thuật CSS
    - Chia layout trang web linh hoạt, đáp ứng các giao diện khó
    - Dễ dàng tùy biến trên các màn hình khác nhau (Responsive)

    1.Các thuộc tính trong nhóm flex container
    - display: flex | inline-flex -> Kích hoạt flex
    - flex-direction: row | column | row-reverse | column reverse ->  Tùy chỉnh hướng của trục chính
    - justify-content: center | flex-start | flex-end | space-between | space-around | space-evenly 
                        -> Căn chỉnh các item theo hướng song song với trục chính
    - flex-wrap: wrap các item nếu bị tràn ra khỏi container
        + nowrap
        + wrap
        + wrap-reverse
    - align-items: Căn chỉnh các item theo chiều vuông góc với trục chính:
        + stretch
        + flex-start
        + flex-end
        + center
        + baseline

    - align-content: 
        + stretch
        + center | flex-start | flex-end | space-between | space-around | space-evenly 

    - gap: khoảng cách giữa các item
    - column-gap
    - row-gap
    
    
    2.Các thuộc tính trong nhóm flex item::
    - flex-grow: number
    - flex-shrink:
    - flex-basis: thiết lập kích thước ban đầu cho 1 item 
    - flex-basis: sẽ bị chặn bởi min-width, max-width, min-height, max-height
    - flex:
    - align-self: căn chỉnh item cụ thể theo hướng vuông góc với trục chính (Các gt giống align-items)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  width: 500px;
  height: 400px;
  border: 1px solid red;
  margin: 30px auto;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  background-color: green;
  padding: 15px;
  border: 1px solid #fff;
  color: #fff;
}
