@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Reem+Kufi+Fun:wght@400..700&display=swap");

:root {
  --primary-color: #bf4240;
  --text-color: #3f3424;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Asap", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

.section-banner {
  position: relative;
  height: 500px;
  background-color: #cccccc;
  background-image: url("https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.content {
  position: absolute;
  min-width: 600px;
  top: 50%;
  right: calc(50% - 28px);
  transform: translateY(-50%);
  padding: 20px 30px 60px;
  color: var(--text-color);
  background-color: #ffffffbd;
  border-radius: 4px;
}

.content .project-name {
  font-size: 2.8rem;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.content .project-location {
  margin-top: 8px;
  font-size: 1.8rem;
}

.content .project-location i {
  margin-right: 4px;
  font-size: 1.8rem;
}

.price-department {
  position: absolute;
  bottom: 0;
  right: 50px;
  transform: translateY(50%);
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 2.4rem;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}
