/* 
Thuộc tính padding: Đệm 1 thẻ html (khoảng cách từ border đến nội dung)
- padding nhận cả giá trị tương đối và tuyệt đối
- padding top và button không hoạt động với thẻ inline
- padding nhận đủ các trường hợp: 1 giá trị, 2 giá trị, 3 giá trị, 4 giá trị
- padding không có giá trị auto và âm
- padding hay margin nếu dùng giá trị % thì giá trị sẽ theo giá trị width của cha

4 thuộc tính mở rộng
- padding-top
- padding-left
- padding-right
- padding-bottom
*/

.box {
  border: 1px solid #000;
  padding: 54px;
}

.btn-wrap {
  text-align: center;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: green;
  text-decoration: none;
  color: white;
}
