* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 1000px;
  margin: 100px auto;
}

section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-list .social-item {
  width: 20%;
  text-align: center;
  align-self: center;
  padding: 10px 20px;
}

.social-list .social-item img {
  width: auto;
  max-height: 80px;
  object-fit: cover;
}
