/* Thuộc tính overflow: xử lý nội dung bị tràn
- visible
- hidden
- scroll -> tạo thanh cuộn để xem nội dung bị ẩn (Lúc nào cx có thanh cuộn)
- auto -> tạo thanh cuộn để xem nội dung bị ẩn (Chỉ khi tràn mới có thanh cuộn)

- overflow-x --> Xử lý thanh cuộn ngang
- overflow-y --> Xử lý thanh cuộn dọc
*/

.box {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  overflow: auto;
  overflow-x: hidden;
}

.box ul {
  width: 400px;
}
