@use "../partials/variables" as v;
@use "../partials/mixin" as m;
@use "../partials/base";
@use "./components/introduction" as intro;
@use "./components/about";
@use "./components/product";
@use "./components/news";
@use "./components/description" as desc;
@use "./components/service";
@use "./components/contact";

.main.main_article_page {
  color: v.$textColor;

  @include base.headingPage {
    .page_heading-wrapper {
      height: 80px;
      display: flex;
      justify-content: center;
      .page_heading {
        color: #2c2c2c;
        font-size: 16.667px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.667px; /* 130% */
        margin: 0 auto;
        a {
          color: v.$textColor;
          text-decoration: none;
        }
        a:hover,
        span {
          color: v.$primaryColor;
        }
      }
    }
  }

  .main_article_section {
    margin: 50px 0;
    .article_title {
      color: v.$textColor;
      font-size: 43.333px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      max-width: 85%;
      margin-bottom: 28px;
    }
    .article_thumbnail {
      max-width: 750px;
      height: auto;
      object-fit: cover;
    }
    .article_info {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 18px;
      margin-bottom: 26px;
      .article_subtitle {
        color: v.$primaryColor;
        font-size: 16.667px;
        font-style: normal;
        font-weight: 600;
        line-height: 21.667px; /* 130% */
      }
      .article_calendar {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          max-width: 20px;
          max-height: 20px;
          object-fit: cover;
        }
        .article_time_publish {
          color: var(--grey-500-main, #a3a3a3);
          font-family: Inter;
          font-size: 18.48px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .article_content {
      color: v.$textColor;
      font-size: 13.333px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 153.125% */
      max-width: 90%;
    }
  }

  .popular_articles_section {
    position: relative;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;

    .bg_orange {
      position: absolute;
      background: #fff0e7;
      inset: 0;
      opacity: 0.3;
      border-radius: inherit;
    }
    .popular_article-heading {
      position: relative;
      color: v.$textColor;
      font-size: 23.333px;
      font-style: normal;
      font-weight: 600;
      line-height: 26.667px; /* 114.286% */
      margin-bottom: 26px;
      z-index: 1;
    }
    .popular_articles-list {
      position: relative;
      padding: 10px;
      z-index: 1;

      .popular_article-item {
        background: #fff;
        border-radius: 8px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          .popular_article-link {
            .popular_article-title {
              color: v.$primaryColor;
            }
          }
        }
        .popular_article-link {
          display: block;
          text-decoration: none;
          .popular_article-thumb {
            max-width: 100%;
            height: auto;
            object-fit: cover;
          }
          .popular_article-title {
            padding: 10px 20px;
            color: v.$textColor;
            font-size: 16.667px;
            font-style: normal;
            font-weight: 600;
            line-height: 21.667px; /* 130% */
          }
        }
      }
    }
  }
}
