@use "../partials/variables" as v;
@use "../partials/mixin";

.main {
  .section_introduction {
    display: flex;
    align-items: center;
    margin-left: calc((100vw - 1200px) / 2);
    padding-bottom: 130px;
    .content {
      flex: 1 0 50%;
      color: v.$textColor;

      .heading {
        max-width: 514px;
        font-size: 3.6667rem;
        font-weight: 800;
        line-height: 48.225px;
      }
      .sub_heading {
        max-width: 380px;
        font-size: 4.2rem;
        font-weight: 800;
        line-height: normal;
        margin: 10px 0 20px;
      }
      .desc {
        max-width: 450px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.417px; /* 127.604% */
      }
    }

    .banner_wrapper {
      flex: 1 0 50%;
      max-width: 50%;
      position: relative;
      display: flex;
      background-color: v.$green;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      .banner {
        position: relative;
        left: -30%;
        max-width: 100%;
        object-fit: cover;
      }
      .heading {
        position: absolute;
        right: 10%;
        top: 30%;
        transform: translateY(-50%);
        rotate: 90deg;
        color: #216000;
        opacity: 0.15;
        font-size: 16rem;
        font-weight: 800;
        line-height: 90%; /* 166.667px */
        word-break: break-all;
        overflow: hidden;
      }
    }
  }

  // Section About
  .section_about {
    padding: 130px 0;

    .content {
      position: relative;
      z-index: 1;
      color: v.$textColor;
      .ellipse {
        @include mixin.ellipse($width: 235px, $height: 235px);
        position: absolute;
        z-index: -1;
        &.ellipse--green {
          top: 25%;
          left: 0;
        }
        &.ellipse--orange {
          right: 0;
          bottom: 0;
        }
      }
      .heading {
        max-width: 588px;
        text-align: center;
        font-size: 3.1667rem;
        font-weight: 800;
        line-height: 131.523%; /* 41.649px */
        margin: 0 auto 20px;
      }
      .desc {
        max-width: 643px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 auto;
        line-height: 20.417px; /* 127.604% */
        margin: 0 auto 40px;
      }
    }

    .info_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: -20px;

      .info_item_box {
        padding-inline: 20px;
        flex: 1 0 33.3333%;
        max-width: 33.3333%;

        .info_item {
          position: relative;
          color: v.$textColor;
          border-radius: 4px;
          box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
          background-color: #fff;
          padding: 30px;
          z-index: 1;
          .medal_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
            border-radius: 4px;
            &.medal_icon--orange {
              background-color: #fff0e7;
            }
            &.medal_icon--green {
              background-color: #f2ffec;
            }
            img {
              max-width: 80%;
              height: auto;
              object-fit: cover;
            }
          }
          .heading {
            font-size: 4.3333rem;
            font-weight: 800;
            line-height: normal;
            text-align: left;
            margin-top: 20px;
          }
          .desc {
            font-size: 2rem;
            font-weight: 400;
            line-height: 30.833px; /* 154.167% */
            text-align: left;
          }
        }
        &:nth-child(1) .info_item {
          width: 75%;
          margin-left: auto;
        }
        &:nth-child(2) .info_item {
          width: 90%;
          margin: 0 auto;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        &:nth-child(3) .info_item {
          width: 80%;
          margin-right: auto;
        }
      }
    }
  }

  // Section Products
  .section_products {
    padding: 130px 0;

    .heading {
      color: v.$textColor;
      font-size: 3.1667rem;
      font-weight: 800;
      line-height: 131.523%; /* 41.649px */
      text-align: center;
    }

    .products_list {
      margin-top: 20px;
      .product_item {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 100px;

        .product_content {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 2;
          .product_thumb {
            position: relative;
            margin-bottom: 60px;
            .ellipse {
              @include mixin.ellipse($width: 269.316px, $height: 269.316px);
              border-radius: 50%;
              flex-shrink: 0;
            }
            img {
              top: 40%;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              max-width: 240px;
              height: auto;
              object-fit: cover;
            }
          }

          .product_heading {
            position: relative;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            color: v.$textColor;
            margin: 0 auto;
            text-align: center;
            font-size: 2.3333rem;
            font-weight: 700;
            padding-bottom: 5px;
            margin-bottom: 10px;
            line-height: 1;

            &::after {
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 40px;
              bottom: 0;
              background-color: #ccc;
            }
          }
          .product_desc {
            color: #656565;
            font-size: 1.6667rem;
            font-weight: 400;
            text-align: center;
            line-height: 21.667px; /* 130% */
          }
          .product_price {
            color: v.$textColor;
            font-size: 1.6667rem;
            font-weight: 400;
            line-height: 21.667px; /* 130% */
            text-align: center;
            margin-bottom: 20px;
            span {
              font-size: 2.3333rem;
              font-weight: 600;
              line-height: 26.667px;
            }
          }

          .btn_add_to_cart {
            @include mixin.button();
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
            background-color: #46b20f;
          }
        }
      }
    }
  }
}

@include mixin.media-tablet-large {
  .main {
    .section_introduction {
      padding-left: 20px;
      padding-bottom: 100px;
      margin-left: 0;
      .content {
      }
      .banner_wrapper {
        .banner {
          left: -25%;
          top: 160px;
        }
        .heading {
          font-size: 12rem;
          top: 50px;
          left: 50%;
          width: 80%;
          transform: translateX(-50%);
          text-align: right;
          rotate: 0deg;
        }
      }
    }
    .section_about {
      padding: 100px 20px;

      .info_list {
        .info_item_box {
          flex-basis: 100%;
          max-width: 100%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            .info_item {
              width: 100%;
              padding: 20px;
              margin-bottom: 20px;
            }
          }
          .info_item {
            display: flex;

            .about_content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 20px;
              .heading {
                font-size: 3rem;
                margin-top: 0;
                width: 100%;
                text-align: left;
              }
              .desc {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .section_products {
      padding: 100px 0;

      .heading {
        font-size: 3rem;
      }
      .products_list {
        margin-top: 20px;
        .product_item {
          width: 100%;
          margin-bottom: 50px;

          .product_content {
            .product_thumb {
              .ellipse {
                @include mixin.ellipse($width: 230px, $height: 230px);
              }
              img {
                width: 200px;
              }
            }
            .product_heading {
              font-size: 2rem;
            }
            .product_desc {
              font-size: 1.8rem;
            }
            .product_price {
              font-size: 1.6rem;
              span {
                font-size: 1.8rem;
              }
            }
            .btn_add_to_cart {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}
@include mixin.media-tablet-small {
  .main {
    .section_introduction {
      padding-bottom: 70px;
      .content {
        .heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
          max-width: 80%;
        }
      }
      .banner_wrapper {
        .banner {
          left: -25%;
          top: 160px;
        }
        .heading {
          font-size: 9rem;
          top: 50px;
          left: 50%;
          width: 75%;
          transform: translateX(-50%);
          text-align: right;
          rotate: 0deg;
        }
      }
    }
    .section_about {
      padding-top: 70px;
      padding-bottom: 70px;
      .content {
        .heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
          max-width: 80%;
          margin-bottom: 50px;
        }
        .info_list {
          .info_item_box {
            flex-basis: 100%;
            max-width: 100%;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              .info_item {
                width: 100%;
                padding: 20px;
                margin-bottom: 20px;
              }
            }
            .info_item {
              display: flex;

              .about_content {
                flex: 1 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 20px;
                .heading {
                  font-size: 3rem;
                  width: 100%;
                  text-align: left;
                  margin: 0;
                }
                .desc {
                  width: 100%;
                  font-size: 1.6rem;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .section_products {
      padding-top: 70px;
      padding-bottom: 70px;
      .heading {
        font-size: 3rem;
      }
      .products_list {
        .product_item {
          .product_content {
            .product_thumb {
              .ellipse {
                @include mixin.ellipse($width: 200px, $height: 200px);
              }
              img {
                width: 180px;
              }
            }
            .product_heading {
              font-size: 1.8rem;
            }
            .product_desc {
              font-size: 1.5rem;
            }
            .product_price {
              font-size: 1.6rem;
              span {
                font-size: 1.8rem;
              }
            }
            .btn_add_to_cart {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
@include mixin.media-mobile {
  .main {
    .section_introduction {
      padding-bottom: 50px;
      .content {
        .heading {
          font-size: 1.8rem;
          line-height: 1.2;
        }
        .sub_heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.2rem;
          line-height: 1.2;
          max-width: 85%;
        }
      }
      .banner_wrapper {
        .banner {
          left: -25%;
          top: 100px;
        }
        .heading {
          font-size: 7rem;
          max-width: 85%;
          top: 10%;
        }
      }
    }
    .section_about {
      padding-top: 50px;
      padding-bottom: 50px;
      .content {
        .heading {
          font-size: 3rem;
        }
        .desc {
          font-size: 1.4rem;
        }
        .info_list {
          .info_item_box {
            .info_item {
              .about_content {
                .heading {
                  font-size: 2.4rem;
                }
                .desc {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
    .section_products {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
