/* 
Thuộc tính margin: căn lề
- margin: value
- margin: value1 value2
- margin: value1 value2 value3
- margin: value1 value2 value3 value4

- Đơn vị phần trăm tỷ lệ theo width của cha

TH1: 2 phần đứng cạnh nhau
- 2 giá trị cùng dấu --> Lấy giá trị tuyệt đối lớn hơn
- 2 giá trị trái dấu --> Cộng lại

margin-top và margin-bottom chỉ hoạt động với block

thuộc tính box-sizing: Chọn kích thước của box theo content hay border
- content-box --> Mặc định
- border-box --> Theo border (Tính từ border), đẩy content vào trong và tăng chiều cao lên
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.box {
  width: 300px;
  border: 1px solid red;
  padding: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
}

.banner {
  background-color: green;
  text-align: center;
  color: whitesmoke;

  /* border: 1px solid transparent; */
  /* overflow: auto; */
  /* display: flex;
  justify-content: center; */
  /* position: absolute;
  width: 100%; */
  /* float: left;
  width: 100%; */
}

.banner h3 {
  /* margin: 30px 0; */
  padding: 30px 0;
}

.content {
  width: 300px;
  border: 5px solid red;
  padding: 5px;
}
